@{Layout = null;}
        @{int caloriesValue = 0;}
        @if (ViewBag.ingredientsToDisplay != null)
        {
            foreach (var ing in ViewBag.ingredientsToDisplay)
            {
                var a = ing.Name;
                <p>@a</p>
                caloriesValue += ing.Calories; 
                <li class="item">
                    @DisplayPicHelper.DisplayPicture(ing.Picture, ing.Name, "ing")
                    <p class="item-name" title="@ing.Name">@ing.Name</p> 
                    <button type="button" class="remove_ingredient" onclick="RemoveIng(@ing.Id)" ><span class="glyphicon glyphicon-remove"></span></button>
                </li> 
            }
        }
<div class="ac">   
    <p class="recette_total_calories">
        <span class="tit">Valeur calorique <span class="mass">(100g)</span> : </span><span class="val">@caloriesValue<span class="unit">kcal</span></span>
    </p>
</div> 
@*@{ Response.Redirect("~/Account/LogIn?returnUrl=Products");}*@