@model Models.Communities.NgCookingUser
@using Models.Recettes;
@using FullNgCookingWithMVC5.Controllers;
@{
    CommunityController communityCntrl = new CommunityController();
    RecetteController recetteCntrl = new RecetteController();
    var userRecettes = communityCntrl.getRecettesByUserId(Model.Id);
    ViewBag.Title = "Details";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="col-xs-12 col-sm-9">
    <div class="content" id="content_communaute_details">
        <section class="section">
            <div class="row">
                <div>
                    <section class="section details">
                        <div class="row">
                            <div class="col-vxs-12 col-xs-6 col-sm-5">
                                <div class="avatar-wrap">
                                    @DisplayPicHelper.DisplayPicture(Model.Picture, Model.SurName, "user")
                                </div>
                            </div>
                            <div class="col-vxs-12 col-xs-6 col-sm-7">
                                <div class="infos">
                                    <h1 class="name">@Model.FirstName @Model.SurName</h1>
                                    @DisplayLevelHelper.DisplayLevel(Model.Level)
                                    <p class="city"><span class="fwb">Ville : </span>@Model.City</p>        
                                    @{
                                        #region Calcul of age 
                                        DateTime today = DateTime.Today;
                                        int age = today.Year - Model.Birth.Year;
                                        #endregion
                                    }
                                    <p class="age"><span class="fwb">Age : </span>@age ans</p>
                                    <p class="shared"><span class="fwb">@Model.SurName</span> a partagé <span class="nb">@userRecettes.Count recettes</span></p>
                                    <p class="bio"><span class="fwb">BIO : </span>@Model.Bio.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <hr />
                   
                    @CreateNewRecetteHelper.CreateNewRecette()
                    <section class="section">
                        <h2 class="title">~ Les recettes de @Model.SurName~</h2>
                        @{ 
                            if (userRecettes.Count==0)
                            {
                                <p>Cet utilisateur n'a pas encore créé de recettes</p>
                            }
                            else
                            {
                                foreach (var item in userRecettes)
                                {
                                    <div class="col-xs-6 col-sm-3 recette">
                                        <a href="Recette/Details?id=@item.Id">
                                            @DisplayPicHelper.DisplayPicture(item.Picture, item.Name, "Recette")
                                            @DisplayLevelHelper.DisplayLevel((int)recetteCntrl.getRecetteNote(item.Id))
                                            <div class="bot">
                                                <p class="name">@item.Name</p>
                                            </div>
                                        </a>
                                    </div>      
                                }
                            }

                        }
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
