@model IEnumerable<Models.Ingredients.Ingredient>
@using FullNgCookingWithMVC5.Controllers;
@using Models.Ingredients;
@using Models.Ctegories;
@{
    ViewBag.Title = "Index";
    IngredientController ingredientCntrl = new IngredientController();
    RecetteController recetteCntrl = new RecetteController();
    var sumIngredientsCalories = ingredientCntrl.getAll().Sum(x => ((Ingredient)x).Calories);
    IList<Category> categoriesList = new List<Category>();
    categoriesList = recetteCntrl.getAllCategories().Cast<Category>().ToList();
    int allowedNumber = 2;
}

<div class="col-xs-12 col-sm-9">
    <div class="content" id="content_ingredients">
        <h1 class="page-title">Les ingredients</h1>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel">
                    <div class="row imgback">
                        <div class="hidden-xs col-sm-3"></div>
                        <div class="col-xs-12 col-sm-9 fp">
                            <div class="filters">
                                <form action="#" novalidate>
                                    <div class="filter">
                                        <p><label for="">Nom de l'ingrédient</label></p>
                                        <p><input id="ingName" type="text" onchange="getFilteredIngredients()" placeholder="ex: Banane"></p>
                                    </div>
                                    <div class="filter">
                                        <p><label for="">Catégorie</label></p>
                                        <p>
                                            @Html.DropDownList("Categories", new SelectList(categoriesList, "Id", "Name"), "", new { @class = "form-control", @onchange = "getFilteredIngredients()" })

                                        </p>
                                    </div>
                                    <div class="filter">
                                        <p><label for="">Nombre de calories <span class="fwn">(kcal/100g)</span></label></p>
                                        <p>
                                            <span class="span-label">entre :</span>
                                            <input id="minCalorieValue" type="number" class="mr0" placeholder="ex: 70" onchange="getFilteredIngredients()">
                                            <span class="span-label">et</span>
                                            <input id="maxCalorieValue" type="number" placeholder="ex: 220" onchange="getFilteredRecette()">
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="result">
                    <div class="ingredients row">
                        @if (ViewBag.filteredIngredients != null)
                        {
                            if (ViewBag.filteredIngredients.Count > 0)
                            {
                                <p class="col-xs-12 blank">Ingredients trouvés</p>
                                allowedNumber = ViewBag.allowedNumberToShow != null ? ViewBag.allowedNumberToShow : 1;
                                var filteredIngs = ViewBag.filteredIngredients;
                                foreach (var filteredIng in filteredIngs)
                                {
                                    int index = filteredIngs.IndexOf(filteredIng);
                                    if (index > allowedNumber)
                                    {
                                        break;
                                    }
                                    <div class="col-xs-12 ingredient">
                                        <div class="ing-wrap">
                                            <div class="top">
                                                <p class="name">@filteredIng.Name</p>
                                                <p class="category">@filteredIng.Category</p>
                                                @DisplayPicHelper.DisplayPicture(filteredIng.Picture, filteredIng.Name, "ing")
                                                <div class="calories-wrap">
                                                    <div class="val">
                                                        <span>@filteredIng.Calories kcal</span>
                                                        <div class="battery">
                                                            <!-- pourcentage ci-dessous à moduler en fonction du nombre de calories de l'ingredient sur nombre de calories max -->
                                                            @{
                                                                int percentage = (int)((filteredIng.Calories / sumIngredientsCalories) * 100);
                                                            }
                                                            <div class="level" style="width: @percentage%;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="bot">
                                                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo pariatur obcaecati ut, sit veniam molestias eius cum. Facere quibusdam laborum doloribus, incidunt omnis ipsum alias vel est molestiae.</p>
                                                    <div class="list">
                                                        <p class="list-title">Aliments similaires</p>
                                                        <ul>
                                                            @{
                                                                var sameIngredientsList = ingredientCntrl.getSameIngredients(filteredIng);
                                                                if (sameIngredientsList != null)
                                                                {
                                                                    foreach (var ing in sameIngredientsList)
                                                                    {
                                                                        <li class="item">
                                                                            @DisplayPicHelper.DisplayPicture(ing.Picture, ing.Name, "ing")
                                                                            <p class="item-name" title="@ing.Name">@ing.Name</p>
                                                                        </li>
                                                                    }
                                                                }

                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <p class="col-xs-12 blank">Aucun ingredient ne correspond à votre recherche</p>
                                                                    }

                                                                }
                                                                else
                                                                {
                                                                    allowedNumber = ViewBag.allowedNumberToShow != null ? ViewBag.allowedNumberToShow : 4;
                                                                    foreach (var ing in Model.Take(allowedNumber))
                                                                    {
                                                                        <div class="col-xs-12 ingredient">
                                                                            <div class="ing-wrap">
                                                                                <div class="top">
                                                                                    <p class="name">@ing.Name</p>
                                                                                    <p class="category">@ing.Category</p>
                                                                                    @DisplayPicHelper.DisplayPicture(ing.Picture, ing.Name, "ing")
                                                                                    <div class="calories-wrap">
                                                                                        <div class="val">
                                                                                            <span>@ing.Calories kcal</span>
                                                                                            <div class="battery">
                                                                                                <!-- pourcentage ci-dessous à moduler en fonction du nombre de calories de l'ingredient sur nombre de calories max -->
                                                                                                @{
                                                                                                    int percentage = (int)((ing.Calories / sumIngredientsCalories) * 100);
                                                                                                }
                                                                                                <div class="level" style="width: @percentage%;"></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="bot">
                                                                                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo pariatur obcaecati ut, sit veniam molestias eius cum. Facere quibusdam laborum doloribus, incidunt omnis ipsum alias vel est molestiae.</p>
                                                                                    <div class="list">
                                                                                        <p class="list-title">Aliments similaires</p>
                                                                                        <ul>
                                                                                            @{
                                                                                                var sameIngredientsList = ingredientCntrl.getSameIngredients(ing);
                                                                                                if (sameIngredientsList != null)
                                                                                                {
                                                                                                    foreach (var ingr in sameIngredientsList)
                                                                                                    {
                                                                                                        <li class="item">
                                                                                                            @DisplayPicHelper.DisplayPicture(ingr.Picture, ingr.Name, "ing")
                                                                                                            <p class="item-name" title="@ingr.Name">@ingr.Name</p>
                                                                                                        </li>
                                                                                                    }
                                                                                                }

                                                                                            }
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                                                    }
                                                                                                }
                    </div>
                </div>
                @{
                    if (ViewBag.filteredIngredients != null)
                    {
                        if (allowedNumber < ViewBag.filteredIngredients.Count)
                        {
                            var diff = ViewBag.filteredIngredients.Count - allowedNumber;
                            <div class="row showmore">
                                <div class="col-xs-12">
                                    @if (diff < 4)
                                    {

                                        <button type="button" class="btn btn_color1" onclick="location.href='Ingredient/UpdateAllowedNumber?listSize=@ViewBag.filteredIngredients.Count&allowedNumber=@allowedNumber'"><span class="glyphicon glyphicon-chevron-down"></span>Afficher d'avantage</button>

                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn_color1" onclick="location.href='Ingredient/UpdateAllowedNumber?listSize=@ViewBag.filteredIngredients.Count&allowedNumber=@allowedNumber'"><span class="glyphicon glyphicon-chevron-down"></span>Afficher d'avantage</button>

                                    }
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        if (allowedNumber < Model.Count())
                        {
                            var diff = Model.Count() - allowedNumber;
                            <div class="row showmore">
                                <div class="col-xs-12">
                                    @if (diff < 4)
                                    {

                                        <button type="button" class="btn btn_color1" onclick="location.href='Ingredient/UpdateAllowedNumber?listSize=@Model.Count()&allowedNumber=@allowedNumber'"><span class="glyphicon glyphicon-chevron-down"></span>Afficher d'avantage</button>

                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn_color1" onclick="location.href='Ingredient/UpdateAllowedNumber?listSize=@Model.Count()&allowedNumber=@allowedNumber'"><span class="glyphicon glyphicon-chevron-down"></span>Afficher d'avantage</button>

                                    }
                                </div>
                            </div>

                        }
                    }

                }

            </div>
        </div>
    </div>
</div>