@model FullNgCookingWithMVC5.Models.RegisterViewModel
@{
    ViewBag.Title = "S’inscrire";
}



@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <div class="col-xs-12 col-sm-9">
        <div class="content" id="content_home">
            @Html.AntiForgeryToken()
            <h1 class="page-title">Création d'un nouveau compte</h1> 
            <hr />
            <section class="section">
                <div class="row">  
                    <div class="col-xs-3 col-sm-9 recette">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" }) 
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" }) 
                                <br /> 
                            </div>
                        </div>
                          
                        <div class="form-group">
                            @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                                <br />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                                <br />
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Birth, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.EditorFor(m => m.Birth, new { @class = "form-control" })
                                <br />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Picture, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                <input type="file" id="image" name="image" />
                                <br />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Bio, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Bio, new { @class = "form-control" })
                                <br />
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Level, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Level, new { @class = "form-control" })
                                <br />
                            </div>
                        </div>
                        <br />
                        <div class="form-group">

                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <br />
                            <br />
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                <br />
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <br />
                            <br />
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                <br />
                            </div>
                        </div>
                      
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                <br />
                            </div>
                        </div> 
                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="S’inscrire" />
                            </div>
                        </div>
                    </div>
                </div> 

            </section>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
